.process-step {
    border: 5px #ebebeb solid;
    border-radius: 100%;
    line-height: 0;
    background: #959595;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    color: #fff;
    width: 35px;
    height: 35px;
    font-weight: 700;
    font-size: 10px;
    margin-bottom: 7px;
    z-index: 4;
    cursor: pointer;
}

.process-step-active{
    background-color: #f89828;
}
