/* > Process Styles */
.process-wrap {
    width: 100%;
    margin: 100px auto;
}
.process-main {
    width: 100%;
    min-width: 320px;
    display: flex;
}
.col-2 {
    width: 25%;
    position: relative;
}
.col-2:first-child .process-step:before {
    content: "1";
}
.col-2:nth-child(2) .process-step:before {
    content: "2";
}
.col-2:nth-child(3) .process-step:before {
    content: "3";
}
.col-2:nth-child(4) .process-step:before {
    content: "4";
}
.col-2:nth-child(5) .process-step:before {
    content: "5";
}
.col-2:nth-child(6) .process-step:before {
    content: "6";
}
.col-2:nth-child(7) .process-step:before {
    content: "7";
}
.process-main .col-2:not(:first-child):before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    top: 17.5px;
    left: calc(-50% + 20px);
    right: 0;
    background: #ebebeb;
    border: 2px #ebebeb solid;
    -o-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}
.process-step-cont {
    font-family: sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    align-content: space-between;
}
.process-step {
    border: 5px #ebebeb solid;
    border-radius: 100%;
    line-height: 0;
    background: #959595;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    color: #fff;
    width: 35px;
    height: 35px;
    font-weight: 700;
    margin-bottom: 7px;
    z-index: 4;
    cursor: pointer;
}
.process-label {
    color: #959595;
    font-weight: 600;
    width: 100%;
    text-align: center;
}
.process-dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ebebeb;
    cursor: pointer;
}
.process-dot-cont {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 60%;
    padding-top: 5px;
}
.active-step1 .col-2:first-child .process-step,
.active-step1 .col-2:first-child .process-dots:first-child,
.active-step1-mini2 .col-2:first-child .process-step,
.active-step1-mini2 .col-2:first-child .process-dots:nth-child(-n + 2),
.active-step1-mini3 .col-2:first-child .process-step,
.active-step1-mini3 .col-2:first-child .process-dots:nth-child(-n + 3),
.active-step1-mini4 .col-2:first-child .process-step,
.active-step1-mini4 .col-2:first-child .process-dots:nth-child(-n + 4) {
    background-color: #f89828;
}
.active-step1-mini2 .col-2:first-child .process-dots:first-child,
.active-step1-mini3 .col-2:first-child .process-dots:nth-child(-n + 2),
.active-step1-mini4 .col-2:first-child .process-dots:nth-child(-n + 3) {
    background-color: #fbcb93;
}
.active-step1 .col-2:first-child .process-label,
.active-step1-mini3 .col-2:first-child .process-label,
.active-step1-mini2 .col-2:first-child .process-label,
.active-step1-mini4 .col-2:first-child .process-label {
    color: #f89828;
}
.active-step2 .col-2:first-child,
.active-step3 .col-2:nth-child(-n + 2),
.active-step4 .col-2:nth-child(-n + 3) {
    opacity: 0.5;
    /*pointer-events: none;*/
}
.active-step2 .col-2:first-child .process-step:before,
.active-step3 .col-2:nth-child(-n + 2) .process-step:before,
.active-step4 .col-2:nth-child(-n + 3) .process-step:before {
    content: "\2713";
    padding: 7px;
}
.active-step2 .col-2:nth-child(-n + 2) .process-step,
.active-step2 .col-2:nth-child(-n + 2) .process-dots,
.active-step3 .col-2:nth-child(-n + 3) .process-step,
.active-step3 .col-2:nth-child(-n + 3) .process-dots,
.active-step4 .col-2:nth-child(-n + 4) .process-step,
.active-step4 .col-2:nth-child(-n + 4) .process-dots {
    background-color: #f89828;
}
.active-step2 .col-2:nth-child(-n + 2) .process-label,
.active-step3 .col-2:nth-child(-n + 3) .process-label,
.active-step4 .col-2:nth-child(-n + 4) .process-label {
    color: #f89828;
}
.active-step2 .col-2:nth-child(-n + 2):before,
.active-step3 .col-2:nth-child(-n + 3):before,
.active-step4 .col-2:nth-child(-n + 4):before {
    background: #f89828 !important;
}
@media screen and (max-width: 640px) {
    .process-main {
        flex-wrap: wrap;
    }
    .col-2 {
        width: 50%;
    }
    .process-main .col-2:nth-of-type(3):not(:first-child):before {
        top: -19.5px;
        left: calc(-50% + 145px);
        transform: rotate(150deg);
    }
}
